# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*build-nori*
*build-acg-physics*
*.log
*.user
*.pdf
*.exr

#Vim

*.swp

#MacOS stuff
*.DS_Store
